{
    "presets": [
        "env",
        "react",
        "stage-0"
    ],
    "plugins": [
        [
            "react-css-modules",
            {
                "filetypes": {
                    ".less": {
                        "syntax": "postcss-less"
                    }
                },
                "generateScopedName": "[local]-[hash:8]"
            }
        ]
    ]
}